@media only screen and (min-width: 992px) {
    .section_about .about_content {
        padding-left: 60px;
    }

    .header_area .menu .nav-item {
        position: relative;
        padding: 35px 0;
        margin-left: 25px;
    }
}

@media only screen and (max-width: 991px) {
    .header_area {
        padding: 10px 20px;
    }

    .header_area ul.menu {
        padding: 10px 20px;
        background-color: #f6f6f9;
    }

    .header_area .menu .nav-item .nav-link {
        color: #311d3d;
    }

    .section_rooms .room_info_box img {
        margin-bottom: 20px;
    }

    .section_rooms .room_info_2 {
        text-align: left !important;
        margin-top: 15px;
    }

    .section_rooms .room_info_2 span {
        display: none !important;
    }
}

@media only screen and (max-width: 600px) {
    .header_area .navbar-brand>.site_logo {
        width: 140px;
        height: 42px;
    }

    .section_subtitle {
        font-size: 24px;
    }

    .section_titlebox .titlebox_inner .titlebox_title {
        font-size: 28px;
    }

    .section_hero .hero_content h1 {
        font-size: 36px;
        letter-spacing: 0;
    }

    .section_hero .hero_content p {
        font-size: 20px;
        line-height: 1.5;
    }

    .section_cta .cta_content h2.cta_heading_title {
        font-size: 24px;
    }

    .section_counter {
        padding: 80px 0;
    }

    .section_counter .counter_box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section_counter .counter_num span {
        font-size: 38px;
    }

    .section_counter .counter_txt h3 {
        font-size: 24px;
    }

    .section_contact .contact_info {
        margin-bottom: 30px;
    }

    .section_contact .contact_info ul.list-group {
        display: none;
    }

    .page_footer .upper_footer h6>.footer_link {
        padding: 8px 0;
    }

    .page_footer .footer_address .address_icon_box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .page_footer .footer_address .address_icon {
        margin-bottom: 8px;
    }

    .page_footer .footer_address .address_icon_box span {
        margin: 0 auto;
    }
}